---
interface Props {
	readonly name: string;
}

const { name } = Astro.props;
---

<details class="group border-b border-primary-900/10 py-6 text-lg dark:border-primary-300/10">
	<summary class="flex list-none items-center justify-between font-medium marker:hidden"
		>{name}
		<svg
			class="h-6 w-6 rotate-0 transform text-primary-600 transition duration-200 ease-in-out group-open:-rotate-180 dark:text-primary-400"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 24 24"
			fill="currentColor"
			aria-hidden="true">
			<path
				d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"
			></path>
		</svg>
	</summary>
	<div class="text-base text-primary-950/70 dark:text-primary-200/70">
		<slot />
	</div>
</details>
