---
import Detail from './Detail.astro';
const features = [
	{
		id: 'expertise-1',
		name: 'Digital Experience Platforms',
		description:
			'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
	},
	{
		id: 'expertise-2',
		name: 'Web & Mobile Development',
		description:
			'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
	},
	{
		id: 'expertise-3',
		name: 'Serverless Computing Platforms',
		description:
			'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
	},
	{
		id: 'expertise-4',
		name: 'Build & Test Automation Tools',
		description:
			'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
	},
	{
		id: 'expertise-5',
		name: 'Artificial Intelligence',
		description:
			'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
	},
	{
		id: 'expertise-6',
		name: 'Full project support',
		description:
			'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
	},
];
---

<section class="py-16 sm:py-20">
	<div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
		<div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
			<h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Expertise</h2>
			<div class="lg:col-span-2">
				<dl class="-mt-3">
					{features.map((feature) => <Detail name={feature.name}>{feature.description}</Detail>)}
				</dl>
			</div>
		</div>
	</div>
</section>
