---
import { ViewTransitions } from 'astro:transitions';
interface Props {
	readonly title: string;
	readonly description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-primary-50 text-primary-950 dark:bg-primary-950 dark:text-primary-200 antialiased transition">
		<main>
			<slot />
		</main>
	</body>
</html>
